---
title: TAPIN into Gene Expression
layout: col-2-left-nav
---
%h1= current_page.data.title
%p
  %strong Brennan Mcfarland
  %br
  %em November 14, 2018
%p
  What enables an animal to see shapes, navigate through its environment, and appropriately respond to external stimuli? These, and all other behaviors, occur through precisely wired neural circuits made up of individual cell-types. Substantial progress has been made in understanding the anatomical arrangement of cell-types within neural circuits across phyla<sup>1,2</sup>, although how  physiological properties of individual cell types contribute to circuit computations is poorly understood. Here, Davis et al., begin to answer physiological questions through RNA-sequencing of 67 cell types, 53 of which are from the visual system within the <em>Drosophila melanogaster</em> brain.  They surpass limitations of prior RNAi sequencing techniques by refining a protocol that improves the specificity of cell-type selection during cell sorting and developing a mathematical algorithm that predicts the expression of a gene in a specific cell-type. By applying this model to investigate neurotransmitter receptor expression of the <em>Drosophila</em> visual system<sup>3</sup>, they identify a GABA-A receptor subunit (<em>CG8916</em>) present in luminance detection neurons (L1/L2) and propose a functional mechanism where a negative-feedback loop with C2/C3 neurons speeds up the animal's responses to subsequent luminance changes.
%p
  RNA-sequencing of cell-types has been useful for profiling the repertoire of genes expressed by a cell, though the manual procedure of harvesting cells is laborious and susceptible to contamination from unrelated cell-types. The authors previously developed an isolation of nuclei tagged in a specific cell-type (INTACT) method that uses the GAL4/UAS gene expression system within <em>Drosophila</em> to genetically express a marker in a cell-type specific manner, and used magnetic beads to capture and isolate these tagged nuclei<sup>4</sup>. In their most recent paper, this method is improved, and the resulting tandem affinity purification of INTACT nuclei (TAPIN) method further reduces background contamination through a second capture step. TAPIN provides a more reproducible and accurate collection of genetically marked cells that can be processed using older RNA-sequencing methods.

%p
  Davis et al., applied their TAPIN-seq method to the <em>Drosophila</em> visual system because the anatomy of the visual system is well characterized<sup>2</sup>, has served as a research model for decades<sup>5</sup>, shares structural, molecular and cellular similarities with vertebrate visual systems<sup>6,7</sup>, and boasts an ever increasing number of GAL4 driver lines that enable genetic access in individual cell-types<sup>8,9,10</sup>. They amassed a large data set containing the relative transcript abundance for genes identified within each cell-type. However, because expression levels vary between genes, they needed to establish a transcript threshold to distinguish ‘on’ gene activation from ‘off’ background levels. Using a mixture model for each gene, Davis et al., was able to compare transcript abundance across all cell-types, observe transcript distribution, and determine the state of each gene. Their TAPIN-seq inferred expression states showed ~93% concordance with FlyBase protein expression reports, while their model accurately predicted the transcription factor forkhead (<em>fkh</em>) expression state for 27/28 cell types (additionally confirmed through immunohistohemistry). After validation of this model, the authors revealed the neurotransmitter output and neurotransmitter receptors for most neural cell-types of the visual system. Finally, combining these data with prior connectome data, they were able to further interpret visual circuit function.
%p
  This research fills a major gap where the molecular properties of a neural circuit are unknown. The large and powerful genetic toolkit available to <em>Drosophila</em> enables profiling of virtually any cell-type. However, in higher order animals where genetic tools are less abundant or non-existent, this TAPIN-seq method would not be possible. Furthermore, there is still the need to perform additional anatomical and functional experiments to confirm transcriptome results, and whether these relative transcript abundances in a cell-type are meaningful to cell physiology and animal behavior. Overall, this TAPIN-seq method produces high-throughput and reproducible transcriptomes for individual cell-types, serving as a molecular proxy for physiological function.

%ol
  %li Glasser, M. F. <em>et al.</em> A multi-modal parcellation of human cerebral cortex. <em>Nature</em> <strong>536</strong>, 171–178 (2016).
  %li Zheng, Z. <em>et al.</em> A Complete Electron Microscopy Volume Of The Brain Of Adult Drosophila melanogaster. (2017). doi:10.1101/140905
  %li Davis, F. P. <em>et al.</em> A genetic, genomic, and computational resource for exploring neural circuit function. (2018). doi:10.1101/385476
  %li Deal, R. B. & Henikoff, S. A Simple Method for Gene Expression and Chromatin Profiling of Individual Cell Types within a Tissue. <em>Developmental Cell</em> <strong>21</strong>, 1179 (2011).
  %li Cosens, D. Vision in Drosophila. Genetics in Microbehavior. Studies of Brain Function, Volume 12.M. Heisenberg , R. Wolf. <em>The Quarterly Review of Biology</em> <strong>61</strong>, 141–141 (1986).
  %li Sanes, J. R. & Zipursky, S. L. Design Principles of Insect and Vertebrate Visual Systems. <em>Neuron</em> <strong>66</strong>, 15–36 (2010).
  %li Zhu, Y. (2013). The Drosophila visual system. Cell Adh Migr 7, 333–344.
  %li Dionne, H., Hibbard, K., Cavallaro, A., Kao, J.-C. & Rubin, G. M. Genetic reagents for making split-GAL4 lines in Drosophila. (2017). doi:10.1101/197509
  %li Wu, M. <em>et al.</em> Visual projection neurons in the Drosophila lobula link feature detection to distinct behavioral programs. <em>eLife</em> <strong>5</strong>, (2016).
  %li Jenett, A. et al. A GAL4-Driver Line Resource for Drosophila Neurobiology. <em>Cell Reports</em> 2, 991–1001 (2012).
