.logo
  %h1.lockup
    = link_to http_prefix do
      = image_tag "NCE_Lab_informal_web_gold_white_web.png", alt:"Neural Circuit Engineering Laboratory <br> Drexel University School of Biomedical Engineering, Science and Health Systems"